extends _layout.pug

block locals 
  - const title = 'Index page';

block content
  h1  #{title}!
  div#app
  img(src="../images/dessert.jpg", width="500")
  img(src="../images/work.jpg", width="500")